{% extends "base.html" %}

{% block content %}

<div class="nav">
    <a href="/">Log Activity</a>
    <a href="/history">History</a>
    <a href="/analytics">Analytics</a>
    <a href="/exercises">Exercises</a>
</div>

<h2>Add Exercise</h2>

<form method="POST" action="/add_exercise">

    <label for="name">Exercise Name:</label>
    <input type="text" name="name" required>

    <label for="category">Category:</label>

    <select name="category" required>
        <option value="" disabled selected>Select category</option>

        {% for category in EXERCISE_CATEGORIES %}
            <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
    </select>

    <button type="submit">Add Exercise</button>

</form>

<h1>Exercises</h1>

<ul class="exercise-list">
{% for exercise in exercises %}
    <li class="exercise-item">

        <div class="exercise-info">
            <strong class="exercise-name">{{ exercise["name"] }}</strong>
            <span class="exercise-category">({{ exercise.category }})</span>
        </div>

        <a class="delete-btn"
        href="/delete_exercise/{{ exercise['id'] }}"
        onclick="return confirm('Delete this exercise?');">
            Delete
        </a>

    </li>
{% endfor %}
</ul>


{% endblock %}